# ── Секреты и конфиг окружения ───────────────────────────────
.env

# ── IDE ──────────────────────────────────────────────────────
.vscode/
.idea/
*.swp
*.swo

# ── OS ───────────────────────────────────────────────────────
.DS_Store
Thumbs.db

# ── локальные Сертификаты для Docker ─────────────────────────────────
docker/certs/
